---
layout: page
title: Home
tagline: Welcome to the CSBill Blog
date: 2013-04-19 18:06:25
icon: home
---
{% include JB/setup %}

<div class="row-fluid"><legend>Latest Posts</legend></div>

{% for post in site.posts %}
<section class="postPreview">
    <header>
        <h3>
            <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>

            <small>
                <time datetime="{{ post.date | date_to_string }}" pubdate>
                    {{ post.date | date_to_string }}
                </time>
            </small>
        </h3>
    </header>
    <section>
        {{ post.excerpt }}
    </section>
</section>
{% endfor %}
