---
layout: page
title: CSBill Blog
date: 2013-04-19 18:06:25
icon: home
theme:
    name: csbill
---
{% include JB/setup %}

<h3 class="ui dividing header">Latest Posts</h3>
<div class="ui items">
    {% for post in site.posts limit:5 %}
        <div class="item">
            <div class="content">
                <h2 class="header">
                    <a href="{{ BASE_PATH }}{{ post.url }}" class="header" style="display: inline">{{ post.title }}</a>

                </h2>
                    <div class="meta">
                        <time datetime="{{ post.date | date_to_string }}" pubdate>
                            {{ post.date | date_to_string }}
                        </time>
                    </div>
                <div class="description">
                    {{ post.excerpt }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
